@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" enctype="multipart/form-data"> 
    <br />
    <div class="row">
        <div class="col-md-12"><input type="file" id="fUpload" name="files" multiple class="form-control" /></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top:10px;"><input type="button" id="btnUpload" value="Upload" /></div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $('#btnUpload').on('click', function () {
                var files = $('#fUpload').prop("files");
                var fdata = new FormData();
                for (var i = 0; i < files.length; i++)
                {
                    fdata.append("files", files[i]);
                }
                if (files.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Index?handler=Upload",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: fdata,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            alert('File Uploaded Successfully.')
                        }
                    });
                }
                else {
                    alert('Please select a file.')

                }
            })
        });
    </script>
}

